<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <!--<link href="../ionic-v1/css/ionic.min.css"  type="text/css" rel="stylesheet"/>-->
    <!--<script src="../ionic-v1/js/ionic.bundle.min.js"  charset="utf-8"></script>-->
    <script src="../framework/1.3.0.14/angular.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>-->
    <!--<script src="directive.js"></script>-->
    <script src="app.js"></script>
    <script src="GAlphaBGDirective.js" charset="utf-8"></script>
    <script src="GWebImageDir.js"></script>
    <title></title>
</head>
<body ng-controller="myCtr">
<div style="position: absolute;background-color:#4b8bf4; width:100%;" >
    <div style="background-color: orangered;width:100px;height:100px;display:block;" ng-click="clickAction()" >{{name}}</div>
    <div style="background-color: cadetblue;width:100px;height:100px;display:block;" ng-click="ashowBgAniFunc()" >{{name}}</div>
    <g-web-image-dir style="width:100%; " img-path="imagePath"><img style="width:100%;height:100%;display:block;" ng-src="images/place_img.png"></g-web-image-dir>
</div>
<g-alpha-bg-dir ani-time-length="aniTimeLength" show-bg="cshowBg" show-bg-ani-func="cshowBgAniFunc" hide-bg-ani-func="chideBgAniFunc" bg-opacity="opacity" bg-color="color" dname="name">
    <div ng-click="click2Action()" style="float:right;width:100px;height:100px;display:block;background-color: orangered">xxx</div>
</g-alpha-bg-dir>
<g-alpha-bg-dir ani-time-length="aaniTimeLength" show-bg="ashowBg" show-bg-ani-func="ashowBgAniFunc" hide-bg-ani-func="ahideBgAniFunc" bg-opacity="aopacity" bg-color="acolor">
    <div ng-click="ahideBgAniFunc()" style="float:right;width:100px;height:100px;display:block;background-color: cadetblue">yyyyyyy</div>
</g-alpha-bg-dir>

</body>
</html>